html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: "Merriweather", serif;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #d05c2e;
  margin: 0;
}

body {
  margin: 0;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.top {
  text-align: center;
  display: block;
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0.4rem 0;
  display: inline-block;
}

.grain-left {
  float: left;
  display: inline-block;
  width: 40px;
  padding: 0.4rem 0;
}

.grain-right {
  float: right;
  display: inline-block;
  width: 40px;
  padding: 0.4rem 0;
}

nav {
  display: block;
  text-align: center;
  overflow: hidden;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  text-align: center;
  padding: 0;
  margin: 0;
  width: 33.3333%;
  float: left;
}

a, a:link {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  padding: 1rem;
  margin: 0;
  display:block;
  border: 1px solid #a63f38;
}

.nav-home, .nav-legumes {
  border-right-width: 0;
  border-left-width: 0;
}

.nav-cereals {
}

.nav-legumes {

}

a:hover {
  background-color: #a63f38;
}
